.clients {
  padding-top: 40px;
  padding-bottom: 60px;

  color: $basic-white;
  background-color: $basic-extra-light-blue;

  @media (min-width: $tablet-width) {
    padding-top: 96px;
    padding-bottom: 125px;

    border-top-left-radius: 80px;
  }

  @media (min-width: $desktop-width) {
    border-top-left-radius: 200px;
  }
}

.clients__group {
  margin-bottom: 50px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-column-gap: 90px;
    margin-bottom: 100px;
    padding-right: 80px;
  }
}

.clients__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 36px;
  line-height: 46px;
  font-weight: 600;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.clients__text {
  margin-top: 0;
  margin-bottom: 0;

  color: rgba($basic-white, 0.4);
}

.clients__list {
  @include list-unstyled;

  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.clients__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 234px;
  margin: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
    color: rgba($basic-white, 0.4);
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    &:nth-child(2n + 1) {
      border-right: 1px solid;
    }

    &:not(:nth-last-child(-n + 2)) {
      border-bottom: 1px solid;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:nth-child(4n + 4)) {
      border-right: 1px solid;
    }

    &:not(:nth-last-child(-n + 4)) {
      border-bottom: 1px solid;
    }
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 128px;
  padding: 10px;

  font-size: 20px;
  line-height: 28px;
  color: $basic-white;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba($basic-blue, 0.2);

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  &--more {
    text-transform: none;
    background-color: rgba($basic-blue, 0.5);

    @media (min-width: $tablet-width) {
      background-color: rgba($basic-blue, 0.2);
    }
  }

  @include link-style;
}
