// Цвета
$basic-blue: #1f3f68; // blue_01
$basic-light-blue: #316099; // blue_02
$basic-extra-light-blue: #5a98d0; // blue_04
$basic-white: #ffffff;

$special-light-blue: #98c3e8;

// Тени
$basic-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
$special-shadow: 5px 20px 20px rgba(53, 110, 173, 0.2);

// Размеры вьюпорта
$tablet-width: 768px;
$desktop-width: 1366px;
